body {
    display: flex;
}

.fishka {
    margin: 1px 1px 1px 1px;
    position: absolute;
    text-align: center;
    background-color: beige;
    transition-property: top, left;
    transition: 0.2s;

    vertical-align: middle;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F6EC2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FBE575, #FFFFAA 8%, #F4EA38 10%, #EAA502 90%, #302F17);
}

.fishka:hover {
    background-color: bisque;
    cursor: pointer;
}

.fishka span {
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    font-size: large;
    color: black;
    text-shadow: 0px -1px 2px #3A3522, -1px -1px 2px #EAA502, 1px -1px 2px #EAA502, 0px 2px 1px white;
    position: absolute;
}